h1 {
    text-align: center;
    margin-top: 10%;
    color: red;
}

p {
    font-size: 24px;
}

.text {
    color: red;
    margin-top: 200px;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 30px;
    text-align: center;
    animation: wiggle 2s infinite linear;
}

.button {
    text-align: center;
    margin-top: 200px;
}



@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }