h1 {
    text-align: center;
    margin-top: 10%;
    color: red;
}

p {
    margin-top: 200px;
    margin-left:30%;
    margin-right: 30%;
    font-size: 30px;
    text-align: center;
}

.text {
    color: #32CF02;
}

.puddle {
    text-align: center;
}

.button {
    text-align: center;
    margin-top: 200px;
}