h1 {
    text-align: center;
    margin-top: 10%;
}

p {
    font-size: 24px;
}

.text {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}
.water {
    color:#00C0FF;
}

.fire {
    color: red;
}
.imgs {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

img {
    width: 60%;
}

.fireboy {
    flex-shrink: 0;
    width: 209px;
    height: 355px;
}

.watergirl {
    width: 207px;
height: 339px;
flex-shrink: 0;
}